/node_modules
/public/hot
!public/
!public/.htaccess
!public/robots.txt
!public/img/**/.gitignore
storage/
!storage/**/.gitignore
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/nbproject
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.*
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
output.txt
.php_cs.cache
coverage.xml
/coverage
app.yaml